h1{
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 55px;
	color: dark;
	display: flex;
	justify-content: center; 
}
a{
	text-decoration: none;
	font-size: 20px;
	font-weight: none;
	margin-bottom: 20px;
	margin-left: 33%;
	color: blue;
}
a:hover{
	text-decoration: underline;
	background-color: green;
	color: purple;
}
#water{
	height: 500px;
	width: 100%;
	background-size: cover;
	background-repeat: none;
	background-position: top;
}
body {
    background-color: white;
}
main{
	background-color: #3787A4;
	margin: auto;
	width: 66.6%;
}

#intro{
	font-size: 43px;
	font-family: 'Patua One', cursive;
	display: flex;
	justify-content: center;
}
.first{
	font-family: 'Domine', serif;
	font-size: 30px;
	font-style: italic;
}
.title{
	font-family: 'Patua One', cursive;
	font-size: 36px;
	display: flex;
	justify-content: center;
}
.sentence{
	font-family: 'Domine', serif;
	font-size: 20px;
	display: flex;
	justify-content: center;
	line-height: 33px;
}
.risk{
	font-family: 'Domine', serif;
	font-size: 20px;
	display:flex;
	justify-content: center;
	color: red;
	background-color: yellow;
	line-height: 33px;
	font-weight: bold;
}
.pixelframe{
	height: 400px;
	margin-left: 5%;
	margin-bottom: 150px;
}
#exception{
	margin-left: 5%;
	margin-bottom: 150px;
}
#exception2{
	margin-left: 5%;
	height: 400px;
	margin-bottom: 150px;
}